<div class="home-box2 home-itemlist">
    <h3><a href="{{ path('lists_view', { list: list.id }) }}">{{ list.name }}</a></h3>
    <p>Click on the list title to view market information for this list.</p>
    <br>

    <h6>{{ list.items|length }} items in this list</h6>
    <ul>
        {% for itemId in list.items %}
            {% set item = game().item(itemId) %}
            {% set census = census(itemId) %}
            <li>
                <div style="float: left;">
                    <img src="{{ item.ID|icon2x }}" onerror="if (this.src != '/i/universalis/error.png') this.src = '/i/universalis/error.png';">
                    {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                    <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                    <small>
                        {{ item.ItemKind.Name }} -
                        {{ item.ItemSearchCategory.ID is defined ? item.ItemSearchCategory.Name : '(Not Sellable)' }}
                    </small>
                </div>
                <div style="float: right;">
                    <div class="cheapest">
                        <h6>Cheapest HQ</h6>
                        {% if item.CanBeHq %}
                            {% if census.Global.Prices_CheapestHQ %}
                            <div class="cheapest_price">
                                <i class="xiv-Gil"></i>
                                <em>{{ census.Global.Prices_CheapestHQ.Quantity|number_format }} x</em>
                                <span class="cheapest_value">{{ census.Global.Prices_CheapestHQ.PricePerUnit|number_format }}</span>

                                <span class="cheapest_price_info">
                                    Server: <strong>{{ census.Global.Prices_CheapestHQ.Server }}</strong> -
                                    Total: <strong>{{ census.Global.Prices_CheapestHQ.PriceTotal|number_format }}</strong>
                                </span>
                            </div>
                            {% else %}
                                No HQ for sale.
                            {% endif %}
                        {% else %}
                            <p>Item has no HQ variant.</p>
                        {% endif %}
                    </div>
                    <div class="cheapest">
                        <h6>Cheapest NQ</h6>
                        {% if census.Global.Prices_CheapestNQ %}
                        <div class="cheapest_price">
                            <i class="xiv-Gil"></i>
                            <em>{{ census.Global.Prices_CheapestNQ.Quantity|number_format }} x</em>
                            <span class="cheapest_value">{{ census.Global.Prices_CheapestNQ.PricePerUnit|number_format }}</span>

                            <span class="cheapest_price_info">
                                Server: <strong>{{ census.Global.Prices_CheapestNQ.Server }}</strong> -
                                Total: <strong>{{ census.Global.Prices_CheapestNQ.PriceTotal|number_format }}</strong>
                            </span>
                        </div>
                        {% else %}
                            <p>No NQ for sale.</p>
                        {% endif %}
                    </div>
                    <div>
                        {# This should not be done here lol, move it to MarketExtension #}
                        {% set last_updated = 0 %}
                        {% set update_times = updateTimes(itemId) %}
                        {% for entry in update_times %}
                            {% if entry.updated > last_updated %}
                            {% set last_updated = entry.updated %}
                            {% endif %}
                        {% endfor %}
                        <small>Last updated: {{ last_updated != 0 ? last_updated|date : 'No data' }}</small>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
