<div class="home-box2 home-itemlist">
    <h3><a href="{{ path('lists_view', { list: list.id }) }}">{{ list.name }}</a></h3>
    <p>{{ 'Click on the list title to view market information for this list.'|translate('list_guide') }}</p>
    <br>

    <h6>{{ '%d items in this list'|translate('list_items_contained')|format(list.items|length) }}</h6>
    <ul>
        {% for itemId in list.items %}
            {% set item = game().item(itemId) %}
            <li>
                <img src="{{ item.ID|icon2x }}" onerror="if (this.src != '/i/universalis/error.png') this.src = '/i/universalis/error.png';">
                {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                <small>
                    {{ item.ItemKind.Name }} -
                    {{ item.ItemSearchCategory.ID is defined ? item.ItemSearchCategory.Name : '(Not Sellable)' }}
                </small>
            </li>
        {% endfor %}
    </ul>
</div>
