<div class="highchart" style="width:100%;">
    <div id="{{ chart.id }}"></div>
</div>
<script>
// Create chart
var chart{{ chart.id }} = Highcharts.chart('{{ chart.id }}', {
    plotOptions: {
        series: {
            type: 'histogram',
        }
    },

    title: {
        text: "",
    },

    xAxis: [{
        allowDecimals: false,
    }],

    yAxis: [{
        allowDecimals: false,
    }],

    series: [
        {
            id: 'histogram_all_{{ serverName }}',
            name: 'Stack Size Histogram',
            data: {{ stackSizeHistogram|json_encode|raw }},
            zIndex: -2,
        },
        {
            id: 'histogram_all_NQ_{{ serverName }}',
            name: '(Normal Quality) Stack Size Histogram',
            data: {{ stackSizeHistogramNQ|json_encode|raw }},
            linkedTo: 0,
            zIndex: -1,
        },
        {
            id: 'histogram_all_HQ_{{ serverName }}',
            name: '(High Quality) Stack Size Histogram',
            data: {{ stackSizeHistogramHQ|json_encode|raw }},
            linkedTo: 0,
            zIndex: 0,
        },
    ],
});
</script>
