{% extends 'base.html.twig' %}
{% set title = item.Name %}
{% set reqServer = app.request.get('server')|title %}

{% block body %}
    <script>var appEnableItemPage = 1;</script>
    <script>var itemId = {{ item.ID }};</script>
    <div class="product">
        <div>
            <div class="item_top">

                {# Item info #}
                <div class="item_header">

                    {% include 'Product/lists.html.twig' %}

                    {# Icon #}
                    <div>
                        <img src="{{ item.ID|icon2x }}" onerror="if (this.src != '/i/universalis/error.png') this.src = '/i/universalis/error.png';">
                    </div>

                    {# Name + Info #}
                    <div>
                        <div class="item_info">
                            {# title #}
                            <h1 class="rarity-{{ item.Rarity }}">
                                <span>{{ item.LevelItem }}</span>
                                {{ item.Name }}
                            </h1>
                        </div>

                        <div class="item_info2">
                            <div>
                                {% if item.ItemSearchCategory.ID is defined %}
                                    <i class="xiv-{{ item.ItemSearchCategory.ID|xivicon }}"></i>
                                    {{ item.ItemKind.Name }}
                                    &nbsp;&nbsp;-&nbsp;&nbsp;
                                    {{ item.ItemUICategory.Name }}
                                    &nbsp;&nbsp;-&nbsp;&nbsp;
                                {% endif %}

                                {{ 'Stack:'|translate('generic_stack_size_colon') }} {{ item.StackSize|number_format }}

                                {% if item.ClassJobCategory %}
                                    &nbsp;&nbsp;-&nbsp;&nbsp;
                                    <span class="text-green">{{ item.LevelEquip }}</span> {{ item.ClassJobCategory.Name ?? '' }}
                                {% endif %}
                            </div>

                            <div>
                                {{ item.Description ? item.Description|raw : '' }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item_nav_mobile_toggle">
                    <button type="button">{{ 'Menu'|translate('generic_menu') }}</button>
                </div>

                <div class="item_nav">
                    <div class="item_nav_servers">

                        {# Cross World #}
                        <button type="button" data-tab="summary" class="btn-summary {{ (cookie('mogboard_homeworld', 'no') == 'yes' or reqServer) ? '' : 'open' }}">
                            <i class="xiv-CrossWorld cw-summary"></i> {{ 'Cross-World'|translate('generic_cross_world') }}
                        </button>

                        {#
                        { Shops }
                        {% if shops %}
                            <button type="button" data-tab="shops" class="btn-shops">
                                <i class="xiv-Gil cw-shops"></i> NPC Shops
                            </button>
                        {% endif %}
                        #}

                        {# Server List #}
                        {% for serverName in server.dc_servers %}
                            {% set icon          = serverName == server.name ? 'ItemShard cw-home' : '' %}
                            {% set className     = serverName == server.name ? 'home-world' : '' %}
                            {% set salesCount    = market[serverName].listings is defined ? market[serverName].listings|length|number_format : '-' %}
                            <button type="button" data-tab="cw{{ serverName }}" class="{{ className }} {{ (cookie('mogboard_homeworld', 'no') == 'yes' and serverName == server.name or reqServer == serverName) ? 'open' : '' }}">
                                {% if serverName == server.name %}
                                    <i class="xiv-ItemShard cw-home"></i>
                                {% endif %}
                                {{ serverName|convert_if_chinese }}
                            </button>
                        {% endfor %}
                    </div>

                    {# Alerts #}
                    <div class="item_nav_custom">
                        {% if auth.user and auth.user.isPatron %} {# Remove second check, we have Mailgun and a Discord bot so this shouldn't be hard to get going. #}
                            <button type="button" data-tab="alerts" class="btn-alerts">
                                <i class="xiv-app_drawer_news cw-alerts"></i> {{ 'Alerts'|translate('generic_alerts') }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>

            {#
            {% if is_updating %}
                <div class="alert alert-purple tac">
                    <strong>This item is being updated on {{ server.dc }}</strong>!
                    -- Refresh the page in a couple minutes for the latest prices
                </div>
            {% endif %}
            #}

            <div class="tab">
                {# Summary #}
                <div class="tab-page tab-summary {{ (cookie('mogboard_homeworld', 'no') == 'yes' or reqServer) ? '' : 'open' }}">
                    {% if globalMarketData %}
                    {% set gPricesCount  = globalMarketData.listings|length %}
                    {% set gHistoryCount = globalMarketData.recentHistory|length %}
                        {% if gPricesCount != 0 or gHistoryCount != 0 %}
                            {% include 'Product/item_market_summary.html.twig' with {
                                chart: {
                                    id: 'histogram_global',
                                },
                                serverName: 'global',
                                dcName: server.dc,
                                stackSize: item.StackSize,
                                stackSizeHistogram: globalMarketData.stackSizeHistogram,
                                stackSizeHistogramNQ: globalMarketData.stackSizeHistogramNQ,
                                stackSizeHistogramHQ: globalMarketData.stackSizeHistogramHQ,
                            } %}
                        {% else %}
                            {% include 'Product/no_market_data.html.twig' with {
                                serverName: server.dc|convert_if_chinese
                            } %}
                        {% endif %}
                    {% endif %}
                </div>

                {#
                { Shops }
                {% if shops %}
                    <div class="tab-page tab-shops">
                        {% include 'Product/item_shops.html.twig' %}
                    </div>
                {% endif %}
                #}

                {# Server Pages #}
                {% for serverName in server.dc_servers %}
                    {% set marketData = market[serverName] ?? null %}
                    {% if marketData and marketData.lastUploadTime %}
                        {% set pricesCount       = marketData.listings|length %}
                        {% set historyCount      = marketData.recentHistory|length %}
                        {% set cheapestPrice     = cheapest[serverName] %}
                        {% set averagePricesNQ   = census[serverName].Prices_Average_pricePerUnit_NQ %}
                        {% set averagePricesHQ   = census[serverName].Prices_Average_pricePerUnit_HQ %}
                        {% set averageHistoryNQ  = census[serverName].History_Average_pricePerUnit_NQ %}
                        {% set averageHistoryHQ  = census[serverName].History_Average_pricePerUnit_HQ %}

                        <div class="tab-page tab-cw{{ serverName }} {{ (cookie('mogboard_homeworld', 'no') == 'yes' and serverName == server.name or reqServer == serverName) ? 'open' : '' }}">
                            {# Price History #}
                            {% if marketData.recentHistory %}
                                {% include 'Product/chart_hc.html.twig' with {
                                    chart: {
                                        id: 'history_' ~ serverName,
                                        server: serverName,
                                        series: [
                                            {
                                                id:   'HC_History_HQ_'~ serverName,
                                                name: '(%s) Price Per Unit'|translate('market_board_ppu_title')|format('HQ'|translate('generic_hq')),
                                                data: census[serverName].HC_History_HQ,
                                                yAxis: 0,
                                                showInNavigator: true,
                                                negativeColor: true,
                                                navigatorOptions: {
                                                    type: 'line',
                                                    color: 'rgba(202,200,68,0.35)'
                                                },
                                            },
                                            {
                                                id:   'HC_History_NQ_'~ serverName,
                                                name: '(%s) Price Per Unit'|translate('market_board_ppu')|format('NQ'|translate('generic_nq')),
                                                data: census[serverName].HC_History_NQ,
                                                yAxis: 0,
                                                showInNavigator: true,
                                                negativeColor: true,
                                                navigatorOptions: {
                                                    type: 'line',
                                                    color: 'rgba(120,120,120,0.35)'
                                                },
                                            },

                                            {
                                                id:   'HC_History_HQ_volume_'~ serverName,
                                                name: '(%s) Price Per Unit QUANTITY'|translate('market_board_ppu_quantity')|format('High-Quality'|translate('generic_high_quality')),
                                                data: census[serverName].HC_History_HQ_volume,
                                                linkedTo: 'HC_History_HQ_'~ serverName,
                                                type: 'column',
                                                yAxis: 1,
                                                showInNavigator: false,
                                            },
                                            {
                                                id:   'HC_History_NQ_volume_'~ serverName,
                                                name: '(%s) Price Per Unit QUANTITY'|translate('market_board_ppu_quantity')|format('Normal Quality'|translate('generic_normal_quality')),
                                                data: census[serverName].HC_History_NQ_volume,
                                                linkedTo: 'HC_History_NQ_'~ serverName,
                                                type: 'column',
                                                yAxis: 1,
                                                showInNavigator: false,
                                            }
                                        ]
                                    }
                                } %}
                            {% endif %}

                            {% if item.StackSize != 1 and marketData.stackSizeHistogram %}
                            <div>
                                <h4>{{ 'STACK SIZE HISTOGRAM <small>Last 20 Sales</small>'|translate('market_board_stack_size_histogram_title')|striptags('<small>')|raw }}</h4>
                                {% include 'Product/histogram_hc.html.twig' with {
                                    chart: {
                                        id: 'histogram_' ~ serverName,
                                    },
                                    item: item,
                                    serverName: serverName,
                                    stackSizeHistogram: marketData.stackSizeHistogram,
                                    stackSizeHistogramNQ: marketData.stackSizeHistogramNQ,
                                    stackSizeHistogramHQ: marketData.stackSizeHistogramHQ,
                                } %}
                            </div>
                            {% endif %}

                            <div class="tab-market-tables">
                                <div class="cw-table cw-prices">
                                    {# TODO: Remove ternary on CN 5.2 #}
                                    <h4>{{ 'PRICES'|translate('generic_prices_capitalized') }} <small>{{ 'Updated:'|translate('generic_updated_colon') }} {{ marketData.lastUploadTime|dateSimple }}{{ (server.dc in ['LuXingNiao','MoGuLi','MaoXiaoPang']) ? '' : ' (Includes 5% GST)' }}</small></h4>
                                    {% include 'Product/prices.html.twig' with {
                                        prices: marketData.listings,
                                        cheapestPrice: cheapestPrice,
                                        averagePricesNQ: averagePricesNQ,
                                        averagePricesHQ: averagePricesHQ
                                    } %}
                                </div>

                                <div class="cw-table cw-history">
                                    <h4>HISTORY</h4>
                                    {% include 'Product/history.html.twig' with {
                                        history: marketData.recentHistory,
                                        cheapestPrice: cheapestPrice,
                                        averagePricesNQ: averagePricesNQ,
                                        averagePricesHQ: averagePricesHQ
                                    } %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="tab-page tab-cw{{ serverName }} {{ (cookie('mogboard_homeworld', 'no') == 'yes' and serverName == server.name) ? 'open' : '' }}">
                            {% include 'Product/no_market_data.html.twig' with {
                                serverName: serverName|convert_if_chinese
                            } %}
                        </div>
                    {% endif %}

                {% endfor %}

                {# Alerts #}
                {% if auth.user and auth.user.isPatron %}
                <div class="tab-page tab-alerts">
                    {% include 'Product/alerts.html.twig' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
