<div class="market_update_times">
    {% for entry in update_times %}
    <div>
        <h4>{{ entry.name|convert_if_chinese }}</h4>
        <div>{{ entry.updated != 0 ? entry.updated|date : 'No data' }}</div>
    </div>
    {% endfor %}
</div>

{# CHEAPEST #}
<div class="cross_world_markets">
    <div class="cheapest">
        <h2>{{ 'Cheapest %s'|translate('market_board_cheapest_title')|format('HQ'|translate('generic_hq')) }}</h2>
        {% if item.CanBeHq %}
            {% if census.Global.Prices_CheapestHQ %}
            <div class="cheapest_price">
                <i class="xiv-Gil"></i>
                <em>{{ census.Global.Prices_CheapestHQ.Quantity|number_format }} x</em>
                <span class="cheapest_value">{{ census.Global.Prices_CheapestHQ.PricePerUnit|number_format }}</span>

                <span class="cheapest_price_info">
                    {{ 'Server:'|translate('generic_server_colon') }} <strong>{{ census.Global.Prices_CheapestHQ.Server|convert_if_chinese }}</strong> -
                    {{ 'Total:'|translate('generic_total_colon') }} <strong>{{ census.Global.Prices_CheapestHQ.PriceTotal|number_format }}</strong>
                </span>
            </div>
            {% else %}
                {{ 'No %s for sale.'|translate('market_board_none_for_sale')|format('HQ'|translate('generic_hq')) }}
            {% endif %}
        {% else %}
            <p>{{ 'Item has no HQ variant.'|translate('market_board_no_hq_variant') }}</p>
        {% endif %}
    </div>
    <div class="cheapest">
        <h2>{{ 'Cheapest %s'|translate('market_board_cheapest_title')|format('NQ'|translate('generic_nq')) }}</h2>
        {% if census.Global.Prices_CheapestNQ %}
        <div class="cheapest_price">
            <i class="xiv-Gil"></i>
            <em>{{ census.Global.Prices_CheapestNQ.Quantity|number_format }} x</em>
            <span class="cheapest_value">{{ census.Global.Prices_CheapestNQ.PricePerUnit|number_format }}</span>

            <span class="cheapest_price_info">
                {{ 'Server:'|translate('generic_server_colon') }} <strong>{{ census.Global.Prices_CheapestNQ.Server|convert_if_chinese }}</strong> -
                {{ 'Total:'|translate('generic_total_colon') }} <strong>{{ census.Global.Prices_CheapestNQ.PriceTotal|number_format }}</strong>
            </span>
        </div>
        {% else %}
            <p>{{ 'No %s for sale.'|translate('market_board_none_for_sale')|format('NQ'|translate('generic_nq')) }}</p>
        {% endif %}
    </div>
</div>
<br><br>

{# Purchase History #}
<h6>{{ 'Cross-World Purchase history (500 sales)'|translate('market_board_purchase_history_title') }}</h6>
{% include 'Product/chart_hc.html.twig' with {
    chart: {
        id: 'history_global',
        server: 'summary',
        series: [
            {
                id:   'HC_History_HQ',
                name: '(%s) PerUnit'|translate('generic_perunit')|format('HQ'|translate('generic_hq')),
                data: census.All.HC_History_HQ,
                yAxis: 0,
                showInNavigator: true,
                negativeColor: true,
                navigatorOptions: {
                    type: 'line',
                    color: 'rgba(202,200,68,0.35)'
                },
            },
            {
                id:   'HC_History_HQ',
                name: '(%s) PerUnit'|translate('generic_perunit')|format('NQ'|translate('generic_nq')),
                data: census.All.HC_History_NQ,
                yAxis: 0,
                showInNavigator: true,
                negativeColor: true,
                navigatorOptions: {
                    type: 'line',
                    color: 'rgba(120,120,120,0.35)'
                },
            },

            {
                id:   'HC_History_HQ_volume',
                name: '(%s) PerUnit QUANTITY'|translate('generic_perunit_quantity')|format('HQ'|translate('generic_hq')),
                data: census.All.HC_History_HQ_volume,
                linkedTo: 'HC_History_HQ',
                type: 'column',
                yAxis: 1,
                showInNavigator: false,
            },
            {
                id:   'HC_History_NQ_volume',
                name: '(%s) PerUnit QUANTITY'|translate('generic_perunit_quantity')|format('NQ'|translate('generic_nq')),
                data: census.All.HC_History_NQ_volume,
                linkedTo: 'HC_History_NQ',
                type: 'column',
                yAxis: 1,
                showInNavigator: false,
            }
        ]
    }
} %}

{% if stackSize != 1 %}
<div>
    <h6>STACK SIZE HISTOGRAM</h6>
    {% include 'Product/histogram_hc.html.twig' with {
        chart: chart,
        serverName: serverName,
        stackSizeHistogram: stackSizeHistogram,
        stackSizeHistogramNQ: stackSizeHistogramNQ,
        stackSizeHistogramHQ: stackSizeHistogramHQ,
    } %}
</div>
{% endif %}

{% set averagePricesNQ   = census.Global.Prices_Average_pricePerUnit_NQ %}
{% set averagePricesHQ   = census.Global.Prices_Average_pricePerUnit_HQ %}
{% set averageHistoryNQ  = census.Global.History_Average_pricePerUnit_NQ %}
{% set averageHistoryHQ  = census.Global.History_Average_pricePerUnit_HQ %}

{# CROSS WORLD MARKET BOARD #}
<div class="cross_world_markets">
    <div>
        {% if item.CanBeHq %}
            <h6><img src="/i/game/hq.png" height="15"> {{ '%s Prices'|translate('generic_prices_2')|format('HQ'|translate('generic_hq')) }}{{ (dcName in ['LuXingNiao','MoGuLi','MaoXiaoPang']) ? '' : ' (Includes 5% GST)' }}</h6>
            {% include 'Product/prices.html.twig' with {
                'prices': census.Global.PricesHQ|slice(0, 10),
                'crossWorld': true,
                'averagePricesNQ': averagePricesNQ,
                'averagePricesHQ': averagePricesHQ
            } %}
            <br>
        {% endif %}

        <h6>{{ '%s Prices'|translate('generic_prices_2')|format('NQ'|translate('generic_nq')) }}{{ (dcName in ['LuXingNiao','MoGuLi','MaoXiaoPang']) ? '' : ' (Includes 5% GST)' }}</h6>
        {% include 'Product/prices.html.twig' with {
            'prices': census.Global.PricesNQ|slice(0, 10),
            'crossWorld': true,
            'averagePricesNQ': averagePricesNQ,
            'averagePricesHQ': averagePricesHQ
        } %}
    </div>
    <div>
        {% if item.CanBeHq %}
            <h6><img src="/i/game/hq.png" height="15"> {{ '%s Purchase History'|translate('generic_purchase_history')|format('HQ'|translate('generic_hq')) }}</h6>
            {% include 'Product/history.html.twig' with {
                'history': census.Global.HistoryHQ|slice(0, 10),
                'crossWorld': true,
                'averageHistoryNQ': averageHistoryNQ,
                'averageHistoryHQ': averageHistoryHQ
            } %}
            <br>
        {% endif %}

        <h6>{{ '%s Purchase History'|translate('generic_purchase_history')|format('NQ'|translate('generic_nq')) }}</h6>
        {% include 'Product/history.html.twig' with {
            'history': census.Global.HistoryNQ|slice(0, 10),
            'crossWorld': true,
            'averageHistoryNQ': averageHistoryNQ,
            'averageHistoryHQ': averageHistoryHQ
        } %}
    </div>
</div>
<br><br>

{# AVERAGE PRICES AND HISTORY #}
<div class="cross_world_markets">
    <div>
        <div class="flex census_box">
            <div>
                <h5>{{ 'Avg. Per Unit'|translate('market_board_avg_perunit') }}</h5>
                <br>
                <div class="flex avg_prices">
                    {% if item.CanBeHq %}
                    <div class="flex_50 price-hq">
                        <img src="/i/game/hq.png"> {{ census.Global.Prices_Average_pricePerUnit_HQ|number_format }}
                    </div>
                    {% endif %}
                    <div class="{{ item.CanBeHq ? 'flex_50' : 'flex_100' }}">
                        {{ census.Global.Prices_Average_pricePerUnit_NQ|number_format }}
                    </div>
                </div>
            </div>
            <div>
                <h5>{{ 'Avg. Total'|translate('market_board_avg_total') }}</h5>
                <br>
                <div class="flex avg_prices">
                    {% if item.CanBeHq %}
                    <div class="flex_50 price-hq">
                        <img src="/i/game/hq.png"> {{ census.Global.Prices_Average_total_HQ|number_format }}
                    </div>
                    {% endif %}
                    <div class="{{ item.CanBeHq ? 'flex_50' : 'flex_100' }}">
                        {{ census.Global.Prices_Average_total_NQ|number_format }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex census_box">
            <div>
                <h5>{{ 'Avg. Per Unit'|translate('market_board_avg_perunit') }}</h5>
                <br>
                <div class="flex avg_prices">
                    {% if item.CanBeHq %}
                    <div class="flex_50 price-hq">
                        <img src="/i/game/hq.png"> {{ census.Global.History_Average_pricePerUnit_HQ|number_format }}
                    </div>
                    {% endif %}
                    <div class="{{ item.CanBeHq ? 'flex_50' : 'flex_100' }}">
                        {{ census.Global.History_Average_pricePerUnit_NQ|number_format }}
                    </div>
                </div>
            </div>
            <div>
                <h5>{{ 'Avg. Total'|translate('market_board_avg_total') }}</h5>
                <br>
                <div class="flex avg_prices">
                    {% if item.CanBeHq %}
                    <div class="flex_50 price-hq">
                        <img src="/i/game/hq.png"> {{ census.Global.History_Average_total_HQ|number_format }}
                    </div>
                    {% endif %}
                    <div class="{{ item.CanBeHq ? 'flex_50' : 'flex_100' }}">
                        {{ census.Global.History_Average_total_NQ|number_format }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<small class="cross_world_foot_note">{{ 'Load Speed: %f'|translate('load_speed')|format(load_speed) }}</small>
