{% extends 'UserAccount/index.html.twig' %}
{% set title = 'My Account' %}
{% set accountpage = 'account' %}

{% block account %}

<h1>{{ 'Account'|translate('generic_account') }}</h1>
<table>
    <tbody>
        <tr>
            <td width="10%">
                <img src="{{ auth.user.avatar }}" height="64" class="user_avatar">
            </td>
            <td>
                <h3>{{ auth.user.username }}</h3>
                {{ auth.user.sso|title }} - {{ auth.user.email }} - {{ 'Timezone:'|translate('generic_timezone_colon') ~ ' ' ~ timezone() }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
