{% extends 'base.html.twig' %}
{% set accountpage = accountpage is defined ? accountpage : 'account' %}

{% block body %}
    {% if auth.online() %}
        <div class="account">
            <div>
                <a href="{{ path('user_account') }}" class="{{ accountpage == 'account' ? 'active' : ''  }}">{{ 'Account'|translate('generic_account') }}</a>

                <a href="{{ path('user_account_characters') }}" class="{{ accountpage == 'characters' ? 'active' : '' }}">{{ 'Characters'|translate('generic_characters') }}</a>
                <a href="{{ path('user_account_retainers') }}" class="{{ accountpage == 'retainers' ? 'active' : '' }}">{{ 'Retainers'|translate('generic_retainers') }}</a>
                <a href="{{ path('user_account_alerts') }}" class="{{ accountpage == 'alerts' ? 'active' : '' }}">{{ 'Alerts'|translate('generic_alerts') }}</a>
                <a href="{{ path('user_account_lists') }}" class="{{ accountpage == 'lists' ? 'active' : '' }}">{{ 'Lists'|translate('generic_lists') }}</a>
                {# <a href="{{ path('user_account_reports') }}" class="{{ accountpage == 'reports' ? 'active' : '' }}">{{ 'Reports'|translate('generic_reports') }}</a> #}

                <hr>

                <a href="{{ path('account_logout') }}" class="logout">{{ 'Logout'|translate('generic_logout') }}</a>

            </div>
            <div>
                {% block account %}{% endblock %}
            </div>
        </div>
    {% else %}
        <div class="alert-light" style="padding: 50px;">
            <div class="tac">
                <h2>{{ 'Oops!'|translate('generic_oops') }}</h2>
                <p>
                    {{ 'You must be logged in to view this area.'|translate('useraccount_index_logged_out_1') }}
                </p>
                <p>
                    {{ 'You can <a href="%s">login via Discord</a> to get that juicy access!'|translate('useraccount_index_logged_out_2')|format(path('account_login_discord'))|striptags('<a>')|raw }}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
